<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>PETITION</title>
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Bangers|Carter+One|Chewy|Comfortaa|Didact+Gothic|Hind+Siliguri|Lobster|M+PLUS+1p|Nunito|Questrial|Quicksand" rel="stylesheet">

    </head>
    <body>
        <div class="container">
            <div class="left">
                <h1> PETITION </h1>
                {{{ body }}}
            </div>
            <div class="right">
                <div class="gif">
                </div>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="script.js" charset="utf-8"></script>
    </body>
</html>
