<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>PETITION</title>
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

    </head>
    <body>
        <div class="container">
            <div class="left">
                <h1> PETITION </h1>
                <h3> All through out history men and women have had their heart broken by another person. Plants was there for them as a comfort and never judged their appearance. It's only natural that we would fall in love with plants. Love is love. Make plants marriage legal today!</h3>
                {{{ body }}}
            </div>
            <div class="right">
                <div class="gif">
                </div>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="script.js" charset="utf-8"></script>
    </body>
</html>
