<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>PETITION</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="container">
            <div class="left">
                <h1> Sign My Petition Pretty Please</h1>
                {{{ body }}}
            </div>
            <div class="right">

            </div>
            <!-- {{>nav}} -->

        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="script.js" charset="utf-8"></script>
    </body>
</html>
