<div>

    <h2>Please log in here.</h2>
    <form id="loginField" method="post">

        E-Mail:<input  id="email" type="text" placeholder="email" name="email" ><br />
        Password:<input id="pw" type="password" placeholder="password" name="password"><br />
<input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="logIn">Submit</button>
    </form>
</div>
