<div class="login">

    <h2>Please log in here.</h2>
    <p>{{error}}</p>
    <form id="loginField" method="post">

        E-Mail:<input  id="email" type="email" placeholder="email" name="email" required><br />
        Password:<input id="pw" type="password" placeholder="password" name="password" required><br />
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="logIn">Submit</button>
        <p>If you have not registered yet then you can register <a href="/register">here</a> </p>
    </form>
</div>
