<div class="view">
<p id="registerUser">Sign here!</p>

    <form method="post">
        <input id="sign" type="hidden" name="signature" value="">
        <div id="sketch">
            <canvas id="paint" width= "500px" height = "65px">Sign Here</canvas>
        </div>
        <button id="submitSign">Submit</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>


</div>
