<div class="profile">
    <h3>Tell me more about you!</h3>
    <form method="post">
        <input id="regAge" placeholder="age" type="text" name="age"><br>
        <input id="regCity" placeholder="city" type="text" name="city"><br>
        <input id="regHomepage" placeholder="homepage" type="text" name="homepage"><br>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="continue">Continue</button>
    </form>
</div>
