<div>
    <p>In this section we would like to get to know you a bit better. Therefore please, take yourself a bit time to answer the questions here. </p>
    <form method="post">
        Age: <input id="age" placeholder="age" type="text" name="age"><br>
        City: <input id="city" placeholder="city" type="text" name="city"><br>
        Homepage: <input id="homepage" placeholder="homepage" type="text" name="homepage"><br>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="continue">Continue</button>
    </form>
</div>
