<div class="view">

<p id="registerUser">Lets sign folks! </p>

    <form method="post">
        First Name:<input id="regFirName" placeholder="firstname" class="firstName" type="text" name="firstname" ><br />
        Last Name: <input id="reglasName" placeholder="lastname"class="lastName" type="text" name="lastname"><br />
        E-Mail: <input id="regEMail" placeholder="email" class="email" type="email" name="email"><br />
        Password: <input id="regPasWord"placeholder="password" class="pw" type="password" name="password"><br />
        <button id="signUp">Submit</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>

    <p id="registerUserLink">If you have already signed this petition, please proceed with <a href="/login">log in</a>.</p>

</div>
