<div class="view">



<p id="registerUser">lets go</p>

    <form method="post">
        First Name:<input id="firstname" placeholder="firstname" class="firstName" type="text" name="firstname" ><br />
        Last Name: <input id="lastname" placeholder="lastname"class="lastName" type="text" name="lastname"><br />


        <input id="sign" type="hidden" name="signature" value="">
        <!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> -->

        <div id="sketch">
            <canvas id="paint" width= "500px" height = "65px">Sign Here</canvas>
        </div>

        <button id="submitSign">Submit</button>
        <!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> -->
    </form>

    <p id="registerUserLink">If you have already signed this petition, please proceed with <a href="/login">log in</a>.</p>
</div>
