<div class="view">
    <h2 id="thankYou">{{ message }}</h2>
    <img id="signImg" src="{{signed}}" alt="signature">
    <p>
        <a id="thanks" href="/signers">In case you wonder who else signed it, see all signers here:</a>
    </p>
</div>
