<div class="">
<h2> CHANGE YOUR PROFILE INFORMATION</h2>

<form id="update" class="" action="index.html" method="post">
    <div class="inputFields">
            First Name: <input type="text" name="firstname" value="">
            Last Name: <input type="text" name="lastname" value="">
            E-mail: <input type="email" name="email" value="">
            Password: <input type="password" name="password" value="">
            Age: <input type="text" name="age" value="">
            City: <input type="text" name="city" value="">
            Homepage: <input type="text" name="homepage" value="">
            <button type="button" name="button">Update</button>
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

</form>
</div>
