body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    color: #ebf222;
}

h1 {
    margin-left: 20px;
    font-size: 80px;
    padding: 0;
    line-height: 0.2;
}

h3 {
    margin: 0 20px 0 20px;
    text-align: left;
    line-height: 1;
    font-size: 30px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.left {
    background-color: #be8fbf;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.right {
    background-color: #41aef2;
    height: 100vh;
    width: 50%;
    display: flex;
    background-image: url("/images/Hintergrund_V02-02.png");
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.gif {
    object-fit: cover;
    width: 420px;
    height: 550px;
    background-image: url("/images/Webp.net-gifmaker.gif");
}

.login {
    margin: 20px;
    line-height: 2;
}

#registerUser {
    font-size: 18px;
}

#signImg {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#signers {
    margin-left: 20px;
}

#signersmessage {
    font-size: 24px;
}

#thanks {
    margin-left: 40px;
    font-size: 24px;
}

.login {
    display: flex;
    flex-direction: column;
}

.logincontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#logintext {
    font-size: 24px;
}

.logerror {
    font-weight: bold;
    font-size: 18px;
    color: #861705;
    margin-left: 20px;
}
.registerbox {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.registerbox p {
    font-size: 24px;
    line-height: 1.6;
    text-align: left;
}

.registerbox img {
    width: 40%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#email,
#pw {
    margin: 5px;
    width: 200px;
    padding: 12px 24px;
    background-color: #ebf222;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
}

#logIn {
    cursor: pointer;
    text-decoration: underline;
    font-family: "Quicksand", sans-serif;
    position: relative;
    left: 20%;
    margin-top: 20px;
    margin-left: 20px;
    transform: translate(-80%);
    font-size: 20px;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #ebf222;
}

#regFirName,
#regLastName,
#regEmail,
#regPassword {
    margin: 5px;
    width: 40%;
    height: 30px;
    padding: 12px 24px;
    background-color: #ebf222;
    font-size: 18px;
    line-height: 18px;
    text-transform: capitalize;
}

.regbox {
    margin: 40px 20px 20px 20px;
}

#signUp {
    cursor: pointer;
    text-decoration: underline;
    font-family: "Quicksand", sans-serif;
    margin: 20px 0 20px 0;
    font-size: 20px;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #ebf222;
}

.profile {
    margin: 20px 20px 20px 20px;
}

.profile h3 {
    margin: 0 0 40px 0;
}
#regAge,
#regCity,
#regHomepage {
    margin: 5px;
    width: 40%;
    height: 30px;
    padding: 12px 24px;
    background-color: #ebf222;
    font-size: 18px;
    line-height: 18px;
    text-transform: capitalize;
}

#continue {
    cursor: pointer;
    text-decoration: underline;
    font-family: "Quicksand", sans-serif;
    margin: 20px 0 20px 0;
    font-size: 20px;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #ebf222;
}

.sigContainer,
.thankyou {
    margin: 20px 0 0 20px;
}
#signtext {
    font-size: 30px;
}

#sketch {
    background-color: white;
    width: 500px;
    height: 200px;
}

#submitSign {
    cursor: pointer;
    text-decoration: underline;
    font-family: "Quicksand", sans-serif;
    margin: 20px 0 20px 0;
    font-size: 20px;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #ebf222;
}

#thankyouButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
}

#logout,
#edit,
#withdrawSign {
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    margin: 20px 0 20px 0;
    font-size: 25px;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #ebf222;
}

#updateFirst,
#updateLast,
#updateAge,
#updateCity,
#updatePw,
#updateEmail,
#updateHomepage {
    margin: -10px 35px 5px 0;
    width: 75%;
    height: 30px;
    padding: 12px 24px;
    background-color: #ebf222;
    font-size: 20px;
    text-transform: capitalize;
}
.view,
.thankyou {
    margin: 15px 20px 0 20px;
}

.updateContainer {
    display: flex;
}

#updateButton {
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    margin: 20px 0 20px 0;
    font-size: 30px;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #ebf222;
    width: 40%;
}

#updateImg {
    width: 40%;
}

.signersList {
    font-size: 22px;
    text-decoration: none;
}
