body {
    margin: 0;
    font-family: "Fjalla One", sans-serif;
    /* color: white; */
}

h1 {
    margin-left: 20px;
    font-size: 100px;
    padding: 0;
    line-height: 0.2;
}

h3 {
    margin: 0 20px 0 20px;
    text-align: justify;
    line-height: 2;
    font-size: 24px;
}
#sketch {
    background-color: white;
    width: 500px;
    height: 65px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.left {
    background-color: #fd3552;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.right {
    background-color: #41aef2;
    height: 100vh;
    width: 50%;
    display: flex;
    background-image: url("/images/Hintergrund_V02-02.png");
    background-size: 900px;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.gif {
    object-fit: fill;
    width: 520px;
    height: 650px;
    background-image: url("/images/Webp.net-gifmaker.gif");
}

.login {
    margin: 20px;
    line-height: 2;
}

#logIn,
#signUp,
#logout,
#edit,
#withdrawSign {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 10px;
    font-family: "Fjalla One", sans-serif;
    font-size: 20px;
    width: 80px;
    height: 80px;
    background: #fff;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 50%;
    color: #171717;
    transition: all 200ms;
}

#email,
#pw,
#regFirName,
#regLastName,
#regEmail,
#regPassword,
#updateFirst,
#updateLast,
#updateAge,
#updateCity,
#updatePw,
#updateEmail,
#updateHomepage {
    margin: 5px;
    width: 90%;
    padding: 12px 24px;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    border-radius: 50px;
    border: 1px solid #575756;
}

.view,
.thankyou,
.inputFields,
#updateProfile {
    margin: 15px 20px 0 20px;
}

#registerUser {
    font-size: 22px;
}

#thankyouButtons {
    display: flex;
    justify-content: center;
}

#logout,
#edit,
#withdrawSign,
#updateButton {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 10px;
    font-family: "Fjalla One", sans-serif;
    font-size: 20px;
    width: 105px;
    height: 105px;
    background: #fff;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 50%;
}

#signImg {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#signers {
    margin-left: 20px;
}

#signersmessage {
    font-size: 24px;
}
